
.leaflet-container {
  padding: 0px;
  height: 620px;
  margin: 0px;
}
.mypopup h5 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 550;
}
.mypopup p {
  margin: 0px;
  margin-bottom: 2px;
  font-size: 11px;
}
.botones {
  
  z-index: 1000;

}
img.botonimg {
  width: 200px;
  cursor: pointer;
}
.inputcheck {
  margin-left: 1rem;
}

.barra {
  background-color: white;
  /* padding: 11px; */
  position: relative;
  z-index: 10000000;
  width: 18%;
  float: left;
  padding: 4px 0px 0px 2px;
}

img.imagen {
  width: 30px;
}

img.ba {
  float: left;
  width: 200px;
  padding-bottom: 14px;
  margin-left: 2rem;
}
@media (max-width: 1136px){
  .leaflet-container{
    /*width: 70%;*/
  }
  .punto {
    width: 100%;
}
img.ba {  
  width: 80%;
}
img.botonimg {
  width: 150px;
  padding-left: 19px;
}
}

@media (max-width: 1012px){
  .punto {
    font-size: 11px;
}
img.imagen {
  width: 10%;
}
img.botonimg {
  width: 70%;
}
}

@media (max-width: 726px){
 
  .punto {
    font-size: 50%;
}
}
@media (max-width: 525px){
 
.inputcheck {
  width: 10%;
  margin-left: 4%;
  top: 4px;
  position: relative;
}
img.ba {
  width: 80%;
  margin: 0px 12px 0px 0px;
}
}
@media (max-width: 433px){
  span.textoinput {
    display: none;
}
img.imagen {
  width: 100%;
}

.barra {
  position: absolute;
  background: transparent;
  top: 129px;
  margin-left: 1rem;
}
img.ba {
  display: none;
}
  
span.spanimg {
  background: white;
  height: 43px;
  position: absolute;
  border-radius: 74px;
  width: 54%;
  border: 2px solid #ccc;
}
.punto {
  margin-bottom: 23px;
}
img.botonimg {
  width: 124%;
  left: -16px;
  position: relative;
}
}
